{% extends "patienthome.html" %}

{% block content %}
<div class="depertment_area" style="padding-top:50px; padding-bottom: 250px;">
    <div class="container" style="padding-top:150px;margin-left:30px;">
        <center>
            <h5 class="card-title">COGNITIVE TEST </h5>
        </center>
        <div class="card" style="width: 88rem;">
            <center>
                <h1>Codnitive Test Score {{cognitivescore[0][0]}}</h1>

            </center>
        </div>
    </div>
</div>
{% endblock %}