{% extends "patienthome.html" %}
{% block content %}
<div class="book_apointment_area">
    <div class="container" style="margin-top:20px">
        <table width="100%">
            {% for i in cols %}
            <th>
                {{i}}
            </th>
            {% endfor %}
            <th>File</th>

            {% for j in rows %}
            <tr>
                {% for k in j %}
                <td>{{k}}</td>
                {% endfor %}
                <td><a href="">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}