{% extends "uploadfile.html" %}

{% block content %}

<div class="book_apointment_area">
    <div class="container" style="margin-top:60px">

        <center>
            <div class="card" style="width: 30rem;height:10rem;">
                <div class="card-body" style="overflow:scroll">
                    <h5 class="card-title" style="text-align:center"> Patients </h5>

                    {% for i in rows %}
                    <div class="mt-10">
                        <a class="btn btn-outline-dark w-100" href="{{url_for('aqquestion',r=i[0]) }}">{{i[0]}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </center>

    </div>
</div>

{% endblock %}